@import "../../../styles/configs";

.headerMenu {
  display: block;
  position: relative;
  top: 35px;
  left: 0;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;

  input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
  }

  span:first-child
  {
    transform-origin: 0 0;
  }

  span:nth-last-child(2)
  {
    transform-origin: 0 100%;
  }

  input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  input:checked ~ ul
  {
    transform: none;
  }

  .headerMenuItem {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $main-font-color-grey;
    border-bottom: 4px solid transparent;
  }

  .headerMenuItem:hover {
    border-bottom: 4px solid rgba(136, 15, 23, 0.8);
  }

  .menu{
    position: absolute;
    width: 200px;
    margin: -100px 0 0 38px;
    padding: 0 0 0;
    top:140px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0 0;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    li
    {
      padding: 10px 0;
      font-size: 22px;
    }
  }
}

@media screen and (min-width: 500px){
  .headerMenu {
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width:35%;
    top: 0;
    left: 0;

    span{
      display: none;
    }

    input {
      display: none
    }

    .menu {
      position: initial;
      display: flex;
      width: 100%;
      background: none;
      margin: 0;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */

      transform-origin: 0 0;
      transform: none;

      transition: none;

      li
      {
        padding: 0;
        font-size: 20px;
      }
    }
  }
}
